{% extends 'general/base.html' %} {%load static%} {% block title%} Ezyclick
Login {%endblock %} {% block body %}

<div class="container" style="margin-top: 15px; margin-bottom: 15px">
    <div class="text-center">
        <img
            src="{%static 'general/img/logo.png'%}"
            class="rounded"
            alt="EZYCLICK"
            style="width: 5vw; min-width: 50px" />
    </div>
    <h1 class="text-center">Register</h1>
    <form method="post" class="row g-3" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input
                type="email"
                class="form-control"
                name="email"
                id="inputEmail4" />
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input
                type="password"
                class="form-control"
                name="password"
                id="inputPassword4" />
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</div>

{% endblock %}
